body{
    background: #091921;
}
.ulNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
}

.ulNav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.ulNav a{
    position: relative;
    color: rgba(205, 207, 205, 0.5);
    padding: 0.5rem 0.8rem;
    text-decoration: none;
}

.ulNav a:before, 
.ulNav a:after{
    position: absolute;
    height: 15px;
    width: 15px;
    content: "";
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}
.ulNav a:before{
    right: 0;
    top: 0;
    border-right: 3px solid #07d111;
    border-top: 3px solid #07d111;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

.ulNav a:after{
    left: 0;
    bottom: 0;
    border-left: 3px solid #07d111;
    border-bottom: 3px solid #07d111;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

.ulNav a:hover,
.ulNav .home a{
    color: #ffffff;
}

.ulNav a:hover:before,
.ulNav .home a:before,
.ulNav a:hover:after,
.ulNav .home a:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}